---
import JSONProyectos from "../../../../public/js/JSONProjectos.json";
import {vProjectsFolder} from '../../../../public/js/index';
import BtnLinkSmall from '../../Botones/btnLinkSmall.astro';
const vGitHubFolder = "https://github.com/landaetadev/"
---

<script>

  const vBtnVideo = document.querySelectorAll('.cBtnVideo');
  const vContainers = document.querySelectorAll('.cProjectContainer');
  vBtnVideo.forEach((btnVideo, index) => {
    btnVideo.addEventListener('click', () => {
      vContainers[index].classList.add('cShowContainer');
      document.documentElement.style.overflowY = "hidden";
      document.body.classList.add ('noScroll');
    });
  });

</script>

{JSONProyectos.map((item) => {
  return (

    <div class="cProjectCard">

      <h3 class="cCardTitle">{item.jsonTitle}</h3>

      <picture class="cCardImage">
        <source srcset={`${vProjectsFolder}${item.jsonImgScreen}.avif`} type="image/avif"/>
        <img src={`${vProjectsFolder}${item.jsonImgScreen}.webp`} alt={`${item.jsonTitle}`} />
      </picture>
      <div class="cCardLang">{item.jsonLangs}</div>

      <div class="cCardLinks">
        <BtnLinkSmall vClass="cBtnVideo" vIcoBtn="icoLinkVideo" vText="Video" />

        <BtnLinkSmall vClass="cBtnGitHub" vIcoBtn="icoGitHub" vText="GitHub" 
          vHref={`${vGitHubFolder}${item.jsonGitHub}`} />

        {item.jsonWeb !== "" && (
          <BtnLinkSmall vClass="cBtnLinkWeb" vIcoBtn="icoLinkWeb" vText="Web"
            vHref={`https://${item.jsonWeb}`} />
        )}
      </div>

    </div>

  );
})}

<style>

  .cProjectCard {
    padding: 1rem;
    --vWidthCard: 20rem;
    --vHeightCard: 33rem;
    width: var(--vWidthCard);
    height: var(--vHeightCard);
    border: 3px solid var(--vBtnsCan2);
    background-color: rgb(var(--vBarBackColor));
    box-shadow: var(--vBtnsCan1) 0px 0px 3px 3px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media ( width <= 400px ) {
      width: calc(var(--vWidthCard) - 3rem);
      height: calc(var(--vHeightCard) - 3rem);
    }

    & .cCardTitle {
      width: 100%;
      height: 4rem;
      font-family: var(--vRubikRegular);
      color: var(--vFontColor);
      --vFontSize: 20px;
      font-size: var(--vFontSize);
      line-height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      @media ( width <= 400px ) {
        font-size: calc(var(--vFontSize) - 4px);
      }
    }

    & .cCardImage {
      --vHeight: 20rem;
      height: var(--vHeight);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--vFontColor);
      @media ( width <= 400px ) {
        height: calc(var(--vHeight) - 4rem);
      }
    
      & img {
        max-width: 90%;
        max-height: 95%;
      }
    }

    & .cCardLang {
      width: 100%;
      height: 4rem;
      font-family: var(--vRubikRegular);
      color: var(--vFontColor);
      --vFontSize: 20px;
      font-size: var(--vFontSize);
      display: flex;
      align-items: center;
      padding-left: 0.5rem;
      @media ( width <= 400px ) {
        font-size: calc(var(--vFontSize) - 2px);
      }
    }

    & .cCardLinks {
      height: 5rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

</style>