---
import { vIconsFile } from "../../../public/js/index.js"
const { vIcoBtn, vText, vHref, vTarget="" } = Astro.props;

---

  <a href={vHref} class="cBtnLinkLarge" target={vTarget} title={vText}>
    <svg aria-hidden="true">
      <use href={`${vIconsFile}${vIcoBtn}`}>
    </svg>
    {vText}
  </a>

<style>

  .cBtnLinkLarge {
    width: 9rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--vBtnsCan1);
    border-radius: .75rem;
    background-color: var(--vBtnsCan2);
    color: var(--vBtnsCan1);
    font-family: var(--vRubikRegular);
    font-size: 16px;
    font-weight: 900;

    &:hover {
      background-color: var(--vBtnsCanHover);
      transition: transform 0.5s ease-in-out;
      transform: scale(1.1);
    }

    & svg {
      --vSize: 2rem;
      width: var(--vSize);
      height: var(--vSize);
      stroke: var(--vBtnsCan1);
      stroke-width: 2.5;
      margin-right: 5px;
    }

  }

</style>