---
import {vIconsFile} from "../../../public/js/index.js"
const { vIcoBtn, vText, vClass, vHref} = Astro.props;
---

{vHref !== "" ? (
  <a href={vHref} class={`cBtnLinkSmall ${vClass}`} target="_blank" title={vText}>
    <svg>
      <use href={`${vIconsFile}${vIcoBtn}`}></use>
    </svg>
  </a>
) : (
  <button class={`cBtnLinkSmall ${vClass}`} title={vText}>
    <svg>
      <use href={`${vIconsFile}${vIcoBtn}`}></use>
    </svg>
  </button>
)}

<style>

  .cBtnLinkSmall {
    width: 5rem;
    height: 3rem;
    border: 3px solid var(--vBtnsCan1);
    border-radius: .75rem;
    background-color: var(--vBtnsCan2);
    color: var(--vBtnsCan1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      transition: transform 0.5s ease-in-out;
      transform: scale(1.2);
    }

    & svg {
      width: 2rem;
      height: 2rem;
      stroke: var(--vBtnsCan1);
      fill: var(--vBtnsCan1);
      stroke-width: 2.5;
    }

  }

</style>